*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 113);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.main-content{
    width: 650px;
    height: 650px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}



.item-square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid purple;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.item-square.clicked{
    background-color: rgb(25, 155, 255);
}

#button{
    height: 40px;
}